tkcap
numpy
flask
qrcode
pillow
pygit2
pygame
PyPDF2
django
mutagen
pystray
stagger
fastapi
uvicorn
requests
pyautogui
pyperclip
matplotlib
pyinstaller
pytesseract
ttkbootstrap
opencv-python
customtkinter
auto-py-to-exe
beautifulsoup4
python-dateutil
pywin32; sys_platform == 'win32'
