tkcap
numpy
flask
pygit2
pygame
django
mutagen
stagger
requests
pyautogui
pyperclip
matplotlib
pyinstaller
ttkbootstrap
opencv-python
customtkinter
auto-py-to-exe
beautifulsoup4
pywin32; sys_platform == 'win32'
